Assignment 2

In [1]:
total = 100
print("The total is",total)

The total is 100

In [2]:
total = total + 99
print("The total is now", total)

The total is now 199

In [3]:
total -= 1
print("The total is", total)
total *= 4
print("The total is", total)
total /= 2
print("The total is", total)

The total is 198
The total is 792
The total is 396.0

In [4]:
total = 98.2
cout = 5
average = total + cout /2
print("The average is", average)

The average is 100.7

In [1]:
print(type(False))
print(type(1000))
print(type(100.111))
print(type("Hello"))
print(type(True))
print(type(100 / 5))
print(type(100 // 5))

<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'int'>

In [2]:
print ("ABC" * 10)

ABCABCABCABCABCABCABCABCABCABC

In [4]:
name = input("Enter your name :")
address = input("Enter your home address :")
contact = input("Enter your contact no :")
print ("Detail : \n")
print(name)
print(address)
print(contact)
print(len (name))

Enter your name :Ayush
Enter your home address :KAthmandu
Enter your contact no :9876543210
Detail :

Ayush
KAthmandu
9876543210
5

In [6]:
age = input ("Enter your age")
print ("in one year your age will be", age + 1)

Enter your age20

TypeError: can only concatenate str (not "int") to str

In [12]:
comment = "I would have"thought"you knew better!"

SyntaxError: invalid syntax (865555850.py, line 1)

In [13]:
value1 = int (input ("Enter first value :"))
value2 = int (input ("Enter second value :"))
print ("Product of two numbers is", (value1 * value2))

Enter first value :12
Enter second value :13
Product of two numbers is 156

In [18]:
print ("\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ \nHello there!\n\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
")

\\\\\\\\\\\\\\\\\\\\\\\\\\\
Hello there!
\\\\\\\\\\\\\\\\\\\\\\\\\\

In [17]:
print("""This text spans three lines,
and includes both single ('),
and double quotes (").
""")

This text spans three lines,
and includes both single ('),
and double quotes (").

In [16]:
surname = "Palin"
initial = surname[0]
third = surname[2]
print (third)

l

In [19]:
tenth = surname[10]
print (tenth)

IndexError: string index out of range

In [20]:
surname = "Palin"
last = surname[-2]
print (last)

i

In [21]:
surname = "Palin"
middle = surname[1:]
print (middle)

alin

In [22]:
surname = "Palin"
a = surname[:len (surname) - 1]
print (a)

Pali

In [23]:
primes = [2, 3, 5, 7, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
print ( primes[:4])

[2, 3, 5, 7]

In [24]:
names = ["Tim", "Bill", "Graeme"]
names[2:2] = ["Harry", "Putter"]
print ( names)

['Tim', 'Bill', 'Harry', 'Putter', 'Graeme']

In [25]:
nums = [1,2,3] * 5
nums

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]