In [30]:
age = 20
print (age < 18)
print (age < 21)
print (age < 31)

False
True
True

In [31]:
10 < 100

True

In [32]:
100 != 100

False

In [33]:
50 >= 50

True

In [25]:
"john" < "Terry"

False

In [26]:
5 < "Monty"

TypeError: '<' not supported between instances of 'int' and 'str'

In [27]:
5 < 10.2

True

In [28]:
5 < "5"

TypeError: '<' not supported between instances of 'int' and 'str'

In [11]:
age = 30

age >= 18 and age <= 65
age < 18 or age > 65
not age > 18

False

In [12]:
age = 30

(age >= 18 and age <= 65) and (not age == 30)

False

In [ ]:
weight = 60
height =  174
print(100 < weight and weight < 200)
print(height > 131 and height < 160)

In [13]:
message = "Hello there, my name is John"
'nam' in message

True

In [14]:
age = int (input("Enter your age : "))
if(age >= 18 and age <= 30):
    print("you are still young!")

Enter your age : 20
you are still young!

In [18]:
age = int (input("Enter your age :"))
if(age >= 18 and age <= 30):
    print("you are still young!")
elif(age > 30 and age <= 40):
    print("you are an adult")

Enter your age :34
you are adult

In [ ]:
name = input("Enter your name : ")
if name != 0:
    print("Your name is", name)
else:
    print("Please enter your name!!!!!")

In [19]:
age = int(input("Enter your age: "))
print("you are an adult" if age >= 18 else "you are not an adult, yet!")

Enter your age: 15
you are not an adult, yet!

In [20]:
names = ["Google", "Siri", "Bixby", "Crotona", "Alexa"]
for name in names:
    print(name)

Google
Siri
Bixby
Crotona
Alexa

In [21]:
for i in range(2,11,2):
    print("{} to the power of {} = {}".format(i, i, i**i))

2 to the power of 2 = 4
4 to the power of 4 = 256
6 to the power of 6 = 46656
8 to the power of 8 = 16777216
10 to the power of 10 = 10000000000

In [22]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
for number in numbers:
    print(number)

10
20
30
90
200
30
22
11

In [23]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
for number in numbers:
    if(number>100):
        break
    print(number)

10
20
30
90

In [29]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
n=0
for number in numbers:
    if(number>100):
        break
    else:
        print(number)
        n+=1
    if(n==len(numbers)):
        print("all numbers processed")

10
20
30
90